heading{
    font-family: "Adobe Caslon Pro";
    color: red;
    font-size: 50px;
    margin-left:450px;
}
#bigpic{
    padding:0 auto;
    margin-bottom:0px;
}
#big{
    margin:auto 100px;
    width:1000px;
    height:400px;
}
#smallpic{
    margin-left:100px;
}
.input{
    width:200px;
    height:100px;
}
